<div
  [ngClass]="{'service-btn-active': selected, 'service-btn': true, 'common-btn' : true, 'center-text' : true, 'service_group':serviceGroup}"
  (click)='onSelectService(entity)' tabindex="0">
  <!-- <div [ngClass]="{'tick-container-rtl': isRtl, 'tick-container': !isRtl}">
    <svg [style.visibility]="getVisibilityOfTick()"
         [ngClass]="{'tick-rtl': isRtl, 'custom' : true, 'accent-tick-color': true, 'tick': true}"
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.69 46.89">
      <defs>
        <style>.cls-1 {
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 8px;
          opacity: 1;
        }</style>
      </defs>
      <title>Asset 27</title>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <polyline
            class="cls-1" points="4 29.48 18.36 42.89 40.69 4"/>
        </g>
      </g>
    </svg>
  </div> -->
  <div class="btn-text btn-text-container">
    <div class="flex-parent has-child">
      <div class="flex-child long-and-truncated-with-child-corrected service_name">
        <span>{{ name }}</span>
      </div>
      <!-- <span *ngIf="customersWaiting" class="waiting-text">&nbsp;</span> -->
      <div *ngIf="customersWaiting" class="flex-child short-and-fixed"
      [ngClass]="{'service_group_fixed':serviceGroup}"
      >
        <!--<span class="customer-waiting"
          *ngIf="customersWaiting"> {{ "(" + customersWaiting + ' ' + ('service.waiting' | translate) + ")" }}  </span>-->
        <span class="customer-waiting">

        {{customersWaiting}}
        <svg class="customer-list-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" style="min-width: 25px;" viewBox="0 0 25 17" version="1.1">
          <g id="surface1">
          <path class="customer-path" style=" stroke:none;fill-rule:evenodd;fill:rgba(9,0,0,0.8);fill-opacity:1;" d="M 17.363281 9.699219 C 18.792969 10.6875 19.792969 12.027344 19.792969 13.8125 L 19.792969 17 L 22.917969 17 C 23.488281 17 23.957031 16.523438 23.957031 15.9375 L 23.957031 13.8125 C 23.957031 11.496094 20.238281 10.125 17.363281 9.699219 Z M 17.363281 9.699219 "/>
          <path class="customer-path" style=" stroke:none;fill-rule:nonzero;fill:rgba(9,0,0,0.8);fill-opacity:1;" d="M 9.375 8.5 C 11.675781 8.5 13.542969 6.597656 13.542969 4.25 C 13.542969 1.902344 11.675781 0 9.375 0 C 7.074219 0 5.207031 1.902344 5.207031 4.25 C 5.207031 6.597656 7.074219 8.5 9.375 8.5 Z M 9.375 8.5 "/>
          <path class="customer-path" style=" stroke:none;fill-rule:evenodd;fill:rgba(9,0,0,0.8);fill-opacity:1;" d="M 15.625 8.5 C 17.925781 8.5 19.792969 6.597656 19.792969 4.25 C 19.792969 1.902344 17.925781 0 15.625 0 C 15.136719 0 14.675781 0.105469 14.238281 0.253906 C 15.105469 1.347656 15.625 2.742188 15.625 4.25 C 15.625 5.757812 15.105469 7.152344 14.238281 8.246094 C 14.675781 8.394531 15.136719 8.5 15.625 8.5 Z M 15.625 8.5 "/>
          <path class="customer-path" style=" stroke:none;fill-rule:evenodd;fill:rgba(9,0,0,0.8);fill-opacity:1;" d="M 9.375 9.5625 C 6.59375 9.5625 1.042969 10.984375 1.042969 13.8125 L 1.042969 15.9375 C 1.042969 16.523438 1.511719 17 2.082031 17 L 16.667969 17 C 17.238281 17 17.707031 16.523438 17.707031 15.9375 L 17.707031 13.8125 C 17.707031 10.984375 12.15625 9.5625 9.375 9.5625 Z M 9.375 9.5625 "/>
          </g>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>


