.details {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2em !important;
  }

.info-header{
  font-size: 18px;
}

.info-text{
  margin-top: 1em;
  font-size: 19px;
}
.not-support {
  position: fixed;
  z-index: 1;
  top: 100px;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}