<div class="bg full-with">
  <div class="qm-cookie-container" [hidden]="!isBrowserSupport">
    <app-cookie-consent-dialog></app-cookie-consent-dialog>
  </div>
  <div class="qm-logo-header" >
    <div class="frame custom logo-bg-color headerImgDiv">
      <img class="logo custom logo-image "/>
      <a (click)="toggle_lang()"><img class="logo custom {{'lang'+lang}} "/></a>
    </div>
    
  </div>

  <div class="center-content" [hidden]="!isBrowserSupport">
    <ng-content></ng-content>
  </div>
  <div class="qm-footer custom footer-text-color footer-bg-color" *ngIf="isLogoFooterEnabled">
    <span>{{'footer.text' | translate}}</span>
    <img class="qm-brand-logo custom footer-logo" src="/app/resources/img/logo.png" alt="brand logo">
  </div>
  <div class="qm-footer custom footer-text-color footer-bg-color footer-custom-text" *ngIf="isCustomFooterEnabled && defautlDir">
    <span>{{'footer.text' | translate}} </span>
    <span  class="custom-text">{{customText}}</span>
  </div>
  <div class="qm-footer custom footer-text-color footer-bg-color footer-custom-text" *ngIf="isCustomFooterEnabled && !defautlDir">
    <span class="custom-text">{{customText}} &#8202;</span>
    <span>{{'footer.text' | translate}} </span>
  </div>
  <div [hidden]="isBrowserSupport">
    <not-support-layout [browserName]='onBrowserNotSupport' [isApplePlatform]='isApplePlatform'></not-support-layout>
  </div>
</div>
<div id="app-bg" class="custom bg-image" [ngClass]="{'not-support-view': !isBrowserSupport}"></div>
<div class="bottomLine"></div>
